<div class="menu-glass-card">
  <h1 class="menu-title">✨ Main Menu</h1>

  <div class="menu-container">
    <button class="menu-button btn btn-primary" (click)="userRegistration()">📝 Register an Account</button>
    <button class="menu-button btn btn-success" (click)="transactionDashboard()">💳 Transactions</button>
    <button class="menu-button btn btn-success" (click)="bankDashboard()">🏦 Banks (Loans, Accounts)</button>
    <button class="menu-button btn btn-warning" (click)="tickTacToe()">🎮 Tick Tac Toe</button>
    <button class="menu-button btn btn-info" (click)="changeBackground()">Change Background</button>
    <button class="menu-button btn btn-info" (click)="sendEmail()">📧 Email Support</button>
    <button class="menu-button btn btn-danger" (click)="manageUsers()">👥 Manage Users</button>
  </div>
</div>
