<h1 class="menu-title">Main Menu</h1>

<div class="menu-container">
  <button class="menu-button btn btn-primary" (click)="userRegistration()">Register an Account</button>
  <button class="menu-button btn btn-success">Transactions</button>
  <button class="menu-button btn btn-success">Show Banks</button>
  <button class="menu-button btn btn-success">Add Bank</button>
  <button class="menu-button btn btn-warning">Tick Tac Toe</button>
  <button class="menu-button btn btn-info">Download Resume</button>
  <button class="menu-button btn btn-danger">Email Me</button>
</div>